<nav class="navbar navbar-dark">
  <% if user_signed_in? %>
    <p class="nav user"> Welcome, <b><%= current_user.name %></b> Guru </p>
    <%= link_to 'Tests', tests_path, class: 'btn' %>
    <%= link_to 'All Badges', badges_path, class: 'btn' %>
    <%= link_to 'My Badges', achievements_badges_path, class: 'btn' %>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to 'Test Guru', root_path, method: :get %>
    <%= button_to 'Sign Up', new_user_registration_path %>
    <%= button_to 'Log In', new_user_session_path %>
  <% end %>
</nav>
