<h1>Passing the <%= @result.test.title %> test</h1>
<h2>Question: <%= @result.current_question_number + 1 %> / <%= @result.test.questions.count %></h2>

<progress class="progress-bar progress-bar-striped" value=0 data-progress-value= <%= @result.current_question_number %>
                                data-max-value= <%= @result.test.questions.count %> ></progress>

<p>
<b><%= @result.current_question.title %></b>
</p>

<%= form_with url: result_path(@result), local: true, method: :put do |form|%>
  <%=form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :title, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit 'Next', class: 'submit-progress' %></p>

  <p><%= link_to 'Gist Question', gists_path(result_id: @result.id), method: :post %></p>
<% end %>
