<h1><%= @question.test.title %> Question</h1>

<p><%= @question.title %></p>

<h2>Answers</h2>

<%= button_to 'New answer', new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= button_to 'Edit', edit_admin_question_path(@question) %>
<%= button_to 'Back', admin_test_path(@question.test) %>
