<tr>
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= test.timer %></td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
